* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Poppins", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    --bs-primary: #832ad0;
    --bs-secondary: #ef265c;
  }

  .navbar {
    color: #fff;
    background: var(--bs-primary);
    height: 100px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
    z-index: 999;
  }
  
  .navbar a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
  }
  .navbar a:after {
    content: "";
    position: absolute;
    background-color: var(--bs-secondary);
    height: 3px;
    left: 0;
    width: 0;
    bottom: -8px;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .navbar a:hover {
    color: #fff;
  }
  .navbar a:hover:after {
    width: 100%;
  }
  .navbar .logo {
    font-size: x-large;
    font-weight: bold;
  }
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .navbar ul {
    display: flex;
    margin-left: 50px;
  }
  
  .navbar ul li {
    margin-left: 20px;
  }
  
img {
    max-width: 100%;
  }
  
  h1,
  h2 {
    margin-bottom: 15px;
  }
  
  ul {
    list-style-type: none;
  }
  
  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
  }